<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>在售商品</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
</head>
<body style="background-color: #f2f2f2;">
<div>
    <ul class="layui-nav">
        <li class="layui-nav-item" style="margin-left: 20%"><a href="">在售商品</a></li>
        <li class="layui-nav-item"><a href="">个人中心</a></li>
        <li class="layui-nav-item"><a href="">发布商品</a></li>
        <li class="layui-nav-item">
            <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">${mail}}</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">修改信息</a></dd>
                <dd><a href="javascript:;">安全管理</a></dd>
                <dd><a href="javascript:;">退出登录</a></dd>
            </dl>
        </li>
    </ul>
</div>
<div style="margin-left: 20%; margin-right: 20%;margin-top: 20px;">
    <!--
    <div class="layui-card" style="margin-top: 20px;">
        <div class="layui-card-header">商品</div>
        <div class="layui-card-body">
            卡片式面板面板通常用于非白色背景色的主体内<br>
            从而映衬出边框投影
        </div>
    </div>
    -->
    <div class="layui-card">
        <div class="layui-card-header" style="font-size: 18px;">
            <img src="http://images.nowcoder.com/head/0t.png" style="height: 18px; margin-right: 10px">
            ${title}前排出售舍友微信！！
        </div>
        <div class="layui-card-body">
            <div class="layui-row grid-demo">
                <div class="layui-col-md3" style="height: 80px;">
                    <div class="grid-demo grid-demo-bg1">
                        <img src="https://github.com/Owl-Movies-Ticket-System/Dashboard/blob/gh-pages/assets/Owl%E9%80%BB%E8%BE%91%E5%9B%BE.png?raw=true" style="height: 80px">
                    </div>
                </div>
                <div class="layui-col-md9" style="height: 80px;">
                    <div class="grid-demo grid-demo-bg2">
                        反正就是一些商品信息，他的描述可能很长，但是不一定要在index页面完全展示，可以在详情面显示所有信息，所以这里只放出前面一些就行了。
                        你懂得
                    </div>
                </div>
                <div class="layui-col-md12 ">
                    <div class="grid-demo grid-demo-bg3" style="margin-top: 20px">
                        <hr/>
                        <i class="layui-icon layui-icon-praise" ><span class="layui-badge-rim">9</span></i>
                        <i class="layui-icon layui-icon-tread" style="margin-left: 20px"><span class="layui-badge-rim">1</span></i>
                        <i class="layui-icon layui-icon-reply-fill" style="margin-left: 20px"><span class="layui-badge-rim">3</span></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div id="pageshow">
    page content 1
</div>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>自定义首页、尾页、上一页、下一页文本</legend>
</fieldset>

<script src="../static/layui/layui.all.js"></script>
<script>
    var laypage = layui.laypage, layer = layui.layer;
    laypage.render({
        elem: 'pageshow'
        ,count: 100
        ,first: '首页'
        ,last: '尾页'
        ,prev: '<em>←</em>'
        ,next: '<em>→</em>'
    });
</script>
-->
</body>
</html>